<div class="container">

    <h2 class="page-header center text-center">Cash Machine Balance</h2>

    <toaster-container
        toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>

    <div class="row">
        <p class="lead">Card Info: {{balance.userCard.card_id}}</p>
        <p>Current date: {{balance.currentDate | date}}</p>
        <p>Amount: {{balance.userCard.currentBalance}}</p>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <a ng-href="operations" class="btn btn-default">Back</a>
            <a ng-href="logout" class="btn btn-warning">Exit</a>
        </div>
    </div>


</div>