<div class="container">

    <div class="row">
        <div class="col-lg-12 center text-center">
            <a ng-href="balance" class="btn btn-primary btn-block">Balance</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 center text-center">
            <a ng-href="withdraw" class="btn btn-primary btn-block">Withdraw</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 center text-center">
            <a ng-href="logout" class="btn btn-primary btn-block">Exit</a>
        </div>
    </div>

</div>