<div class="container android">

    <h2 class="page-header center text-center">Cash Machine Pin Code</h2>

    <form class="form-horizontal" name="pinFrom" role="form" method="POST" ng-submit="card.checkPin()"
          accept-charset="UTF-8">
        <div class="row">
            <div class="form-group">
                <div class="col-sm-6 col-lg-6 center text-center">
                    <input type="password" class="keypad-display" name="cardPin" ng-model="card.cardPin"
                           cc-number ng-required="true" disabled/>
                    <p ng-show="pinFrom.cardPin.$invalid && !pinFrom.cardPin.$pristine">
                        That's not a valid card number</p>

                </div>
            </div>
            <div class="col-md-6">
                <ng-keypad on-key-pressed='card.onKeyPressed'>
                    <ng-key ng-repeat='key in card.keys' ng-key-data='key'>{{key}}</ng-key>
                    <ng-key></ng-key>
                    <ng-key ng-key-data='0'>0</ng-key>
                    <ng-key ng-key-data='"<"'>clean</ng-key>
                </ng-keypad>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 center text-center">
                <button type="submit" class="btn btn-primary">Check</button>
            </div>
        </div>

    </form>


</div>