<div class="container">

    <form class="form-horizontal" role="form" method="POST" onsubmit="main.checkCard()" accept-charset="UTF-8">

        <!--<div class="form-group">
            <div class="col-sm-6 col-lg-6 pull-left">
                <input type="text" class="form-control required" name="last_name" value=""
                       placeholder="Last name">
            </div>
        </div>-->
        <!--To be done on this page:
                box for pincode
                small num keyboard with numbers
                marking pincode with ****
        -->

        <div class="row">
            <div class="col-lg-12">
                <button type="submit" class="btn btn-success btn-block">OK</button>
                <button type="button" class="btn btn-success btn-block">Clean</button>
            </div>
        </div>

    </form>


</div>