<div class="container">

    <!--To be done on this page:
            small div which should contains info about:
             - card number
             - current date
             - money on account
    -->

    <div class="row">
        <div class="col-lg-6">
            <a ng-href="#" class="btn btn-primary">Clean</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <a ng-href="#" class="btn btn-success">OK</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <a ng-href="logout" class="btn btn-primary">Exit</a>
        </div>
    </div>



</div>