<div class="container">
    <div class="panel">
        <div class="row">
            <div class="center text-center">
                <a ng-href="balance" class="btn btn-primary btn-lg btn-block">Balance</a>
            </div>
        </div>
        <div class="row">
            <div class="center text-center">
                <a ng-href="withdraw" class="btn btn-primary btn-lg btn-block">Withdraw</a>
            </div>
        </div>
        <div class="row">
            <div class="center text-center">
                <a ng-href="logout" class="btn btn-warning btn-lg btn-block">Exit</a>
            </div>
        </div>
    </div>
</div>